body{
	font-family: Roboto,"Droid Sans",Helvetica,"Helvetica Neue","Heiti SC",sans-serif; 
}
*{
	-webkit-box-sizing:border-box;box-sizing:border-box;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border: none;
	outline: none;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
address,caption,cite,code,dfn,em,strong,th,td,var,i {
	font-weight: normal;
	font-style: normal;
}
ul, ol, nav {
	list-style: none;
}
blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
}
a, ins {
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
}

div, a, img, input {
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder{
	color:transparent;
}
html, body,.mainBody {
	position: relative;
	height: 100%;
}
body {
	background: #e4e4e4;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 0.24rem;
	color: #000;
	margin: 0 auto;
	padding: 0;
	max-width: 800px;
}

/* 清除浮动 */
.clear {
    display: block;
    #zoom:1;
    /*ie6-ie7*/;
}
.clear:after {
    content: '';
    overflow: hidden;
    width: 100%;
    height: 0px;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    display: block;
    clear: both;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide-main.content{
	position: relative;
}
.swiper-slide-cont {
  font-size: 18px;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.menu {
	min-width: 100px;
	width: 40%;
	max-width: 320px;

	background-color: #2C8DFB;
	color: #fff;
}
.content {
	width: 100%;
}

.menu-button{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 30px;
	height: 30px;
	z-index: 99999;
}
.menu-button .barWrap{
	width: 30px;
	height: 30px;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	margin:15px 0 0 7px;
}

.menu-button .bar{
	position: relative;
	display: block;
	width: 25px;
	height: 4px;
	margin: 4px auto;
	border-radius: 10px;
	-webkit-transition: .3s;
	transition: .3s;
	background:#eaeaea;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.cross{
	width: 100%;
	height: 100%;
	background: rgba(0,51,102,0.5);
}
.cross .bar:nth-of-type(1) {
	-webkit-transform: translateY(15px) rotate(-45deg);
	-ms-transform: translateY(15px) rotate(-45deg);
	transform: translateY(15px) rotate(-45deg);
}
.cross .bar:nth-of-type(2) {
	opacity: 0;
}
.cross .bar:nth-of-type(3) {
	-webkit-transform: translateY(-15px) rotate(45deg);
	-ms-transform: translateY(-15px) rotate(45deg);
	transform: translateY(-15px) rotate(45deg);
}
.cross.open .bar:nth-of-type(1) {
	-webkit-transform: translateY(15.5px) rotate(40.5deg);
	-ms-transform: translateY(15.5px) rotate(40.5deg);
	transform: translateY(15.5px) rotate(40.5deg);
}
.cross.open .bar:nth-of-type(2) {
	opacity: 0;
}
.cross.open .bar:nth-of-type(3) {
	-webkit-transform: translateY(-15.5px) rotate(-40.5deg);
	-ms-transform: translateY(-15.5px) rotate(-40.5deg);
	transform: translateY(-15.5px) rotate(-40.5deg);
}
.swiper-wrapper-main{
	background:#e4e4e4;
	background-size: 160%;
}
.swiper-slide-main.menu{
	background: #fff;
}
.swiper-slide-main.menu .logo{
	text-align: center;
	padding:30px 0;
}
.swiper-slide-main.menu .logo img{
	height: 70px;
}
.swiper-slide-main.menu ul{
	margin:0 10px;
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #fff;
}
.swiper-slide-main.menu li{
	height: 40px;
	font-size: 18px;
	border-bottom: 1px solid #cacaca;
	border-top: 1px solid #fff;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

}
.swiper-slide-main.menu li a{
	color: #313131;
	display: block;
	width: 100%;
	font-size: 16px;
	text-align: center;
	vertical-align: top;
}
.swiper-slide-main.menu .iconfont{
	display: inline-block;
	margin-right: 10px;
	font-size: 19px;
	vertical-align: top;
	line-height: 22px;
}
.swiper-slide-main.menu .icon img{
	max-width: 100%;
	max-height: 100%;
}
.swiper-slide-main.menu .icon img.hover{
	display: none;
}
.swiper-slide-main.menu .active a{
	color: #00949d;
}
.swiper-slide-main.menu .active .icon img{
	display: none;
}
.swiper-slide-main.menu .active .icon img.hover{
	display: inline-block;
}
.swiper-slide-main.content{
	background:#fff;
}
.fold-enter-active {
  animation-name: fadeIn;
  animation-duration: .5s;
}
.fold-leave-active {
  animation-name: fadeOut;
  animation-duration: 0s;
}
header{
	display: block;
	width: 100%;
	height: 50px;
	background: #003366;
	text-align: center;
	position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
header a{
    color: #fff;
    font-size: 18px;
}

footer{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 12px;
	color: #999;
}
.btnTop{
	height: 50px;
	width: 50px;
	background: url(../../../static/img/bg_top.jpg) no-repeat 0 0;
	background-size: 100%;
	position: fixed;
	right: 8px;
	bottom: 8px;
	z-index: 99999;
	display: none;
}