.pageHome .swiper-slide-main.content{
    background:#e4e4e4;
}
.swiper-container-focus {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible!important;
}
.swiper-slide-focus {
    text-align: center;
    font-size: 18px;
    background: #fff;
    overflow: hidden;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide-focus img{
    width: 100%;
}
.swiper-container-focus .swiper-pagination{
    height: 1.05rem;
    position: static;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.swiper-pagination-bullet-active{
    background: #00c4b8;
}
.list{
    padding:0.2rem 0.2rem;
}
.list li{
    width: 50%;
    float: left;
    padding-bottom: 0.6rem;
}
.list li a{
    display: block;
    margin: 0 0.1rem;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    line-height: 0px;
}
.list li img{
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.list li img.blank{
    position: static;
    width: 100%!important;
}
.contPhotography .list li{
    width: 100%;
}
.contPhotography .list .scroll{
    overflow: hidden;
    transition: height 0.5s;
    position: relative;
    z-index: 1;
    background: #333;
    margin:0 0.1rem;
    border-radius: 10px;
    overflow: hidden;
}
.contPhotography .list .scroll.open{
/*    position: fixed;
    width: 100%;
    height:auto!important;
    left: 0px;
    top: 0px;
    z-index: 999;
    background: #000;*/
}
.contPhotography .list .scroll p{
    text-align: center;
    font-size: 12px;
    margin:0 0.1rem;
    padding:10px 0;
    line-height: 18px;
    color: #fff;
}
.contPhotography .list a{
    border-radius: 10px;
    /*box-shadow: 1px 1px 1px #000;*/
}
.contPhotography .list img{
    position: static;
    border-radius: 10px;
    vertical-align: top;
}
.contPhotography .list .info{
    background: #a5c9cd;
    position: relative;
    top:-15px;
    margin:0 0.1rem;
    z-index: 0;
    padding:30px 10px 10px 10px;
    border-radius: 10px;
}
.contPhotography .list .info p{
    color: #fff;
    font-size: 12px;
}
.contPhotography .list .info h3{
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.contHome{
    height: 100vh;
}
.contHome .cover{
  position:absolute;
  bottom:0px;
  left:0px;
  width:100%;
  height:25px;
  line-height:25px;
  background:rgba(0,0,0,.5);
  text-align:center;
  font-size:12px;
  color:#fff;
}
.contHome .top{
    height: 100vh;
    background: #000;
    background-size: 100% 100%;
}
.contHome .bottom{
    height: 65vh;
    background: #003366;
}
.contHome .photo{
    width: 150px;
    line-height: 0px;
    position: absolute;
    left: 50%;
    top: 25vh;
    margin-left:-75px;
    border:4px solid #eaeaea;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 2px 2px 2px #000;
}
.contHome .photo img{
    width: 100%;
}
.contHome .slogan{
    position: absolute;
    width: 100%;
    top: 60vh;
    text-align: center;
    font-size: 0.8rem;
    color: #eaeaea;
    text-shadow: 2px 2px 2px #000;
}